a {
    text-decoration: none;
    color: inherit;
/*    opacity: 0.8;
    transition: opacity 0.2s;*/
}

/*a:hover {
    opacity: 1;
    color: inherit;
}*/

/*.btn {
    transition: transform 0.3s;
}

.btn:hover {
    transform: translateY(-3px);
}*/